<aside class="aside  typeset  aside--{{ include.align | default: 'left' }}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

 
  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <section class="section  section--description">
      <h2>Publications</h2>
      
      <h3> In Preparation </h3>
      <ul>
        <li> Weil’s Converse Theorem for Harmonic Maass Forms.</li>
          <li> Construction of Harmonic Maass Forms using Cohen-Hurwitz-Kronecker Class Numbers.</li>
        <li> Details of Proof of Zagier’s Non-Holomorphic Eisenstein Series. </li>
      </ul>
      <!--<p>{{ site.description }}</p>-->
      {% include nav-social.html %}
    </section>

  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>

  {% endif %}

</aside>
